@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
body {
  background-color: #121212;
  overflow: scroll;
  
}
table {
  border: 12px solid #121212;
  border-collapse: collapse;
}
tr, td {
  border: 4px solid #121212;
}
td {
  padding: 2px;
  margin: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: center;
  outline: none;
}
 .wrapper input {
  border-radius: 7px;
  
  border-radius: 10px;
  
  box-shadow: 3px 3px 5px #dbdee6, 3px 3px 10px #fdffff;
  padding: 0;
  margin: 0;
  border: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 24px;
  width: 100%;
}
input[type="number"]:disabled {
  border-radius: 7px;
  color: #f86400;
}
td:nth-child(3n) {
  border-right: 10px solid #121212;
}

tr:nth-child(3n) {
  border-bottom: 10px solid #121212;
}

.tab{
justify-content: center;
display: flex;
  padding-right: 30%;
}

.last{
  margin-top: 10px;
  margin-left: 10px;
  display:flex;
  justify-content: left;
  width: 400px;
  height:80px;
  border-radius: 7px;
}
label {
  color:  #e3dac9;
  margin-right: 10px;
}
.last input{
  height: 21px;
  width:70px;
  font-size: 16px;
  border-radius: 5px;
  vertical-align:top;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.lastbuttons{
    display: flex;
    padding-left: 100px;
    margin-top:-30px;
}
button{
    color: white;
    background: transparent;
    font-family: Avenir, sans-serif;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
    
  }
  
  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: #ffab9d;
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  }

  h2 {
    font-family: 'Nabla';
    font-palette: var(--font-palette);
    font-size: 50px;
    text-align: center;
   margin-top: 10%;
    display: flex;
    padding-right: 10%;
  }